.pagination {
    @include outer-container(700px);
    margin-bottom: 2em;
    margin-top: 1em;
    font-size: 0.9em;

    &__inner {
        @include span-columns(24);
        position: relative;

        &__left {
            float: left;
        }

        &__right {
            float: right;
        }

        &__center {
            position: absolute;
            left: 50%;
            right: 50%;
            width: auto;
            top: 0;

            &__inner {
                width: 140px;
                left: -70px;
                position: absolute;
                z-index: 9;
                text-align: center;
            }
        }

    }

}
