.header {
    width: 100%;
    display: table;
    background: url(/media/header-banner.jpeg) center;
    background-size: cover;
    height: 170px;
    display:flex;
    justify-content:center;
    align-items:center;

    &__container {
        @include outer-container(1080px);
    }

    &__title {
        color: rgba(255, 255, 255, 1);
        text-align: center;
        text-transform: uppercase;
        margin: auto;
        padding: 0.2em 0.4em;
        display: table;
        border: 4px solid rgba(255, 255, 255, 1);
        background: rgba(0,0,0,0.3);
        @include transition(color 0.4s, border 0.5s);

        &:hover {
            color: rgba(66, 140, 209, 1);
            border-color: rgba(66, 140, 209, 1);
        }
    }

}
