{% if pagination.number %}
    <div class="pagination">
        <div class="pagination__inner">
            {% if pagination.has_previous() %}
                <div class="pagination__inner__left">
                    <a href="?page={{ pagination.previous_page_number() }}">previous</a>
                </div>
            {% endif %}

            <div class="pagination__inner__center">
                <div class="pagination__inner__center__inner">
                    page <strong>{{ pagination.number }}</strong> of {{ pagination.paginator.num_pages }}
                </div>
            </div>

            {% if pagination.has_next() %}
                <div class="pagination__inner__right">
                    <a href="?page={{ pagination.next_page_number() }}">next</a>
                </div>
            {% endif %}
        </div>
    </div>
{% endif %}
