{% if pagination.number %}
    <div class="pagination">
        <span class="step-links">
            {% if pagination.has_previous() %}
                <a href="?page={{ pagination.previous_page_number() }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ pagination.number }} of {{ pagination.paginator.num_pages }}.
            </span>

            {% if pagination.has_next() %}
                <a href="?page={{ pagination.next_page_number() }}">next</a>
            {% endif %}
        </span>
    </div>
{% endif %}
